#cartCounter {
    position: relative;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    top: 30px;
    right: 10px;
}